/.idea/
/build/
/vendor/

/example/**
!/example/example.txt
!/example/packages
!/example/packages/example.yaml
!/example/test/

#test
**/test/bar.txt
test/test.txt
test/foo/

!var/x.txt
var/x.t*
!/x.txt
/x.txt

/test/bla/**/x.txt
